.contact-main{
  min-height:60vh;
  display: flex;
}

.about-me-container{
  flex:2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.language-logo{
  margin-left: 2vh;
  height:10vh;
}

.about-me-text{
  margin: 2vh;
}
.contact-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-details{
  text-decoration: none;
  padding-left: 50px;
  margin: 2vh;
}