:root{
  --home-p-font-size: 30px;
  --home-background-color: rgb(134, 130, 130);
}

.home-container{
  background-color: var(--background-color);
  flex: 1;
  min-height: 100vh;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* removin the scrollbar on the page for simpler design */
body::-webkit-scrollbar {
  display: none;
}

.scroll-intro{
  font-size: var(--home-p-font-size);
  padding-top: 40vh;
  height: 80vh;
}

.story-container{
  display: flex;
  width: 100vw;
  padding: 2vh;
  margin-bottom: 10vh;

}

.story-text{
  flex:1;
  align-content: center;
  padding:1vw;
}

.story-image{
  flex:2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.story-image img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 970px){
  .story-container{
    flex-direction: column;
  }
}