.header-container{
  background-color: VAR(--background-color);
  color: var(--primary-text-color);
  height:20vh;
  display: flex;
  z-index: 1;
}

/* styling of teh text in the header */
.header-text{
  width:40%
}

.span-container{
  display: flex;
  flex-direction: column;
  font-size: 50px;
  position: relative;
  margin-left: 50px;
  margin-top: 50px;

}

.slide-in-text{
  display: bock;
  opacity: 0;

  font-family: 'Permanet Marker',cursive;
}

.header-text span:nth-child(1) {
  animation: slideIn 1s ease 0.5s forwards;
}

.header-text span:nth-child(2) {
  animation: slideIn 1s ease 1s forwards;
}

.header-text span:nth-child(3) {
  animation: slideIn 1s ease 1.5s forwards;
}

.header-text span:nth-child(4) {
  animation: slideIn 1s ease 2s forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* styling of the menu part of the header */

.header-navbar{
  width: 60%;
  padding-right: 300px;
  display: flex;
  justify-content: flex-end;
}

.header-navbar ul{
  display: flex;
}

.header-navbar ul li{
  margin: 50px;
  font-size: 30px;
  cursor: pointer;
}

.header-navbar ul li a{
  text-decoration: none;
  color: inherit
}