.header-container{
  background-color: VAR(--background-color);
  color: var(--primary-text-color);
  height:20vh;
  margin-bottom: 10px;
  display: flex;
  z-index: 1;
}

/* styling of the text in the header */
.header-text{
  width:20%
}

.span-container{
  display: flex;
  flex-direction: column;
  font-size: 5vh;
  position: relative;
  top:5vh;
  left: 5vh;

}

.slide-in-text{
  display: block;
  opacity: 0;
  font-family: 'Permanet Marker';
}

.header-text span:nth-child(1) {
  animation: slideIn 1s ease 0.5s forwards;
}

.header-text span:nth-child(2) {
  animation: slideIn 1s ease 1s forwards;
}

.header-text span:nth-child(3) {
  animation: slideIn 1s ease 1.5s forwards;
}

.header-text span:nth-child(4) {
  animation: slideIn 1s ease 2s forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


/* Home button styling*/

.home-container{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.home-logo {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Permanet Marker';
    font-size: 2.5em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
  transition: transform 0.75s ease-in-out; 
}

.home-logo:hover{
  cursor:pointer;
  transform: rotateY(360deg);
}

/* styling of the menu part of the header */

.header-navbar{
  width: 70%;
  display: flex;
  justify-content: flex-end;
  padding-right: 3vw;;
}

.header-navbar ul{
  display: flex;
}

.header-navbar ul li{
  margin: 50px;
  font-size: 30px;
  font-family: 'Permanet Marker';
  cursor: pointer;
}

.header-navbar ul li a{
  text-decoration: none;
  color: inherit
}

.header-toggle{
  width: 10%;
  margin-left: 6vw;
}

@media screen and (max-width: 970px){
  .header-container{
    flex-direction: column;
  }
  .header-text{
    width: 100vw;
  }
  .span-container{
    top: 1vh;
    left:1vh;
  }

  .header-navbar{
    margin-top: 2vh;;
    width: 100vw;
    justify-content: center;
  }
  .header-navbar ul{
    flex-direction: column;
    
  }
  .header-navbar ul li{
    margin:0;
  }
  
}

@media screen and (min-width: 971px) and (max-width: 1270px){

  .header-text{
    width: 30%
  }
  .span-container{
    top: 2vh;
    left: 2vh;
    font-size: 4vh;
  }

  .header-navbar{
    margin-top: 4vh;;
    width: 50%;
    justify-content: center;
  }
  .header-navbar ul{
    flex-direction: column;
  }
  .header-navbar ul li{
    margin:0;
    
  }
}