.header-container{
  background-color: VAR(--background-color);
  color: var(--primary-text-color);
  min-height:20vh;
  margin-bottom: 10px;
  display: flex;
  z-index: 1;
  
}

/* styling of the text in the header */
.header-text{
  width:20%
}

.span-container{
  display: flex;
  flex-direction: column;
  font-size: 5vh;
  position: relative;
  top:5vh;
  left: 5vh;

}

.slide-in-text{
  display: block;
  opacity: 0;
  font-family: 'Permanet Marker';
}

.header-text span:nth-child(1) {
  animation: slideIn 1s ease 0.5s forwards;
}

.header-text span:nth-child(2) {
  animation: slideIn 1s ease 1s forwards;
}

.header-text span:nth-child(3) {
  animation: slideIn 1s ease 1.5s forwards;
}

.header-text span:nth-child(4) {
  animation: slideIn 1s ease 2s forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


/* Home button styling*/

.home-button-container{
  height: 20vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}

.home-button-link{
  text-decoration: none;
  font-size: 30px;
  font-family: 'Permanet Marker';
  cursor: pointer;
}

/* styling of the menu part of the header */

.header-navbar{
  width: 70%;
  display: flex;
  justify-content: flex-end;
  padding-right: 3vw;;
}

.header-navbar ul{
  display: flex;
}

.header-navbar ul li{
  margin: 50px;
  font-size: 30px;
  font-family: 'Permanet Marker';
  cursor: pointer;
}

.header-navbar ul li a{
  text-decoration: none;
  color: inherit
}

.header-toggle{
  width: 10%;
  margin-left: 6vw;
}

@media screen and (max-width: 970px) {
  .header-container {
    flex-direction: column;
  }

  .header-text {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .span-container {
    top: 1vh;
    left: 1vh;
    font-size: 30px;
  }

  .home-button-container{
    border: 1px solid grey;
    border-radius: 1vh;
    height: 6vh;
  }

  .header-navbar {
    margin-top: 2vh;
    width: 100vw;
    justify-content: center;
  }

  .header-navbar ul {
    flex-direction: column;
  }

  .header-navbar ul li {
    width: 98vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 6vh;
    margin: 1vh;
    border: 1px solid grey;
    border-radius: 1vh;
  }
}

@media screen and (min-width: 971px) and (max-width: 1270px) {
  .header-text {
    width: 30%;
  }

  .span-container {
    top: 2vh;
    left: 2vh;
    font-size: 4vh;
  }

  .home-button-container {
    margin-top: 10vh;
    height: 6vh;

  }

  .header-navbar {
    margin-top: 4vh;
    width: 50%;
    justify-content: center;
  }

  .header-navbar ul {
    flex-direction: column;
  }

  .header-navbar ul li {
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    width: 30vw;
    height: 5vh;
    border-radius: 14px;
    margin: 1vh;
    border: 1px solid grey;
  }
}
