.app{
  height: 100vh;
  background-color: black;
  color: white;
}
h1{
  color: beige;
}

.punch{
  height: 300px;
  font-size: 150px;
  text-align: center;
}
.customCard{
  min-height: 200px;
  font-size: 50px;
  text-align: center;
}

.link{
  text-decoration: none;
}

footer{
  text-align: center;
}
