:root {
  --background-color: rgba(0,0,0,1);
  --foreground-color: rgba(255,255,255,1);
  --card-color: rgb(23,23,23);
  --primary-text-color: rgba(255,255,255,1);
  --secondary-text-color: rgba(0,0,0,1);
  --toggle-bg: rgba(240, 235, 157, 1);
  --toggle-fg: rgba(255, 208, 0, 1);
  --radial-gradiant-color: rgba(255,255,255,0.06);
  --radial-gradiant-border-color:rgba(25,255,255,0.3);

}

[data-theme ="light"]{
  --background-color: rgba(255,255,255,1);
  --foreground-color: rgba(0, 0, 0, 1);
  --card-color: rgb(201, 201, 201);
  --primary-text-color: rgba(0,0,0,1);
  --secondary-text-color: rgba(255,255,255,1);
  --toggle-bg: rgba(40, 52, 82, 1);
  --toggle-fg: rgba(0, 166, 255, 1);
  --radial-gradiant-color: rgba(247, 8, 8, 0.15);
  --radial-gradiant-border-color:rgba(184, 78, 8, 1);

}


.app{
  background-color: var(--background-color);
  color: var(--primary-text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app.cards-body{ 
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

/* Header CSS*/


.punch{
  height: 35vh;
  text-align: center;
  padding-top: 2vh;
}

.home-button{
  border-color: var(--primary-text-color);
  color: var(--primary-text-color);
}

.home-button:hover{
  background-color: var(--foreground-color);
  color: var(--secondary-text-color);
  border-color: var(--secondary-text-color);
}
/* Section for the Projects cards in project*/

.cards-body {
  display: flex;
  align-items: top;
  justify-content: center;
  background-color: var(--background-color);
  margin: 0px;
  overflow: auto;
  padding: 0px;
  margin-top: 1px;
  flex: 1;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 1320px;
  width: calc(100% - 20px);
}

#cards:hover > .card > .card-border{
  opacity: 1;
}

.card {
  background-color: rgba(255,255,255,0.15);
  cursor: pointer;
  height: 262px;
  width: 300px;
  border-radius: 10px;
  position: relative;
  
}
.card:hover::before{
  opacity: 1;
}

.card::before,
.card > .card-border
{
  border-radius: inherit;
  content: "";
  position: absolute;
  height: 100%;
  opacity: 0;
  transition: opacity 500ms;
  width: 100%;
  left: 0;
  top: 0;
  z-index:2;
}

.card::before{
  background: radial-gradient(
  800px circle at var(--mouse-x) var(--mouse-y),
  var(--radial-gradiant-color),
  transparent 40%);
  z-index: 3;
}

.card > .card-border{
  background: radial-gradient(
  400px circle at var(--mouse-x) var(--mouse-y),
  var(--radial-gradiant-border-color),
  transparent 40%);
  z-index: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  margin: 1px;
  position: relative;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  z-index: 2;
}

.card-link {
  position: relative;
  z-index: 4; /* Adjust the value as needed */
}


/* style for the card content*/
h1, h2, h3, h4, span {
  color: rgb(240, 240, 240);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
}

i {  
  color: rgb(240, 240, 240);
}

.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  object-fit: contain;
  overflow: hidden;
  margin-top: 2px;
}
img{
  height: 100%;
  border-radius: 5px;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  margin-bottom: 1px;
}

.card-info-title > h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.card-info-title > h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}

/* Style the scrollbar track */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

/* Style the scrollbar handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

/* Style the scrollbar track when the handle is hovered */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}



footer{
  height: 15vh;
  text-align: center;
  align-items: end;
  flex-shrink: 0;
  
}
