:root {
  --bg-color: rgb(20,20,20);
  --card-color: rgb(23,23,23);
}

.cards-body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin: 0px;
  overflow: auto;
  padding: 0px;
}


.app{
  background-color: black;
  color: white;
}

.punch{
  height: 35vh;
  text-align: center;
  padding-top: 2vh;
}

/* Section for the Projects cards in project*/

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 922px;
  width: calc(100% - 20px);
}

#cards:hover > .card > .card-border{
  opacity: 1;
}

.card {
  background-color: rgba(255,255,255,0.15);
  cursor: pointer;
  height: 260px;
  width: 300px;
  border-radius: 10px;
  position: relative;
  
}
.card:hover::before{
  opacity: 1;
}

.card::before,
.card > .card-border
{
  border-radius: inherit;
  content: "";
  position: absolute;
  height: 100%;
  opacity: 0;
  transition: opacity 500ms;
  width: 100%;
  left: 0;
  top: 0;
  z-index:2;
}

.card::before{
  background: radial-gradient(
  800px circle at var(--mouse-x) var(--mouse-y),
  rgba(255,255,255,0.06),
  transparent 40%);
  z-index: 3;
}

.card > .card-border{
  background: radial-gradient(
  400px circle at var(--mouse-x) var(--mouse-y),
  rgba(255,255,255,0.3),
  transparent 40%);
  z-index: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  margin: 1px;
  position: relative;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  z-index: 2;
}

/* style for the card content*/
h1, h2, h3, h4, span {
  color: rgb(240, 240, 240);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
}

i {  
  color: rgb(240, 240, 240);
}

.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  object-fit: contain;
  overflow: hidden;
}
img{
  height: 100%
}

/* Style the scrollbar track */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

/* Style the scrollbar handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

/* Style the scrollbar track when the handle is hovered */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.link{
  text-decoration: none;
}

footer{
  height: 30vh;
  text-align: center;
  
}
