:root {
  --background-color: rgba(0,0,0,1);
  --foreground-color: rgba(255,255,255,1);
  --card-color: rgb(23,23,23);
  --primary-text-color: rgba(255,255,255,1);
  --secondary-text-color: rgba(0,0,0,1);
  --toggle-bg: rgba(255, 255, 255, 1);
  --toggle-fg: rgba(200, 200, 200, 1);
  --radial-gradiant-color: rgba(255,255,255,0.06);
  --radial-gradiant-border-color:rgba(25,255,255,0.3);
  

}

[data-theme ="light"]{
  --background-color: rgba(255,255,255,1);
  --foreground-color: rgba(0, 0, 0, 1);
  --card-color: rgb(201, 201, 201);
  --primary-text-color: rgba(0,0,0,1);
  --secondary-text-color: rgba(255,255,255,1);
  --toggle-bg: rgba(40, 52, 82, 1);
  --toggle-fg: rgba(0, 166, 255, 1);
  --radial-gradiant-color: rgba(247, 8, 8, 0.15);
  --radial-gradiant-border-color:rgba(184, 78, 8, 1);

}


.app{
  background-color: var(--background-color);
  color: var(--primary-text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  font-family: 'Permanet Marker';
}




