.app{
  height: 100vh;
  background-color: black;
  color: white;
}

.punch{
  font-size: 150px;
  text-align: center;
}

.projects{
  min-height: 50px;
  background-color: blue;
}

.bio{
  min-height: 50px;
  background-color: wheat;
}
.contacts{
  min-height: 50px;
  background-color: green;
}
footer{
  text-align: center;
}